////////////////////////////////////////////////////////////////////////////////
// WHITE
$white: rgb(255, 255, 255);


////////////////////////////////////////////////////////////////////////////////
// GRAY
$gray-light:    rgb(219, 219, 219);
$gray-dark:     rgb(59, 59, 59);


////////////////////////////////////////////////////////////////////////////////
// BLUE
$light-blue:    rgb(91, 188, 250);


////////////////////////////////////////////////////////////////////////////////
// GREEN
$green-light:     rgb(191, 255, 142);
$green-darken:    rgb(32, 99, 12);
