////////////////////////////////////////////////////////////////////////////////
// WHITE
$white: rgb(255, 255, 255);


////////////////////////////////////////////////////////////////////////////////
// GRAY
$gray-light:          #EAEAEA;
$gray-middle-light:   rgb(190, 190, 190);
$gray-dark:           rgb(59, 59, 59);


////////////////////////////////////////////////////////////////////////////////
// BLUE
$light-blue:    rgb(91, 188, 250);


////////////////////////////////////////////////////////////////////////////////
// GREEN
$green-light:     rgb(144,214,171);
$green-pastel:    rgb(112,145,116);
$green-darken:    rgb(100,115,88);


////////////////////////////////////////////////////////////////////////////////
// MARRON
$marron:          rgb(89,81,58);
$marron-dark:     rgb(48,45,33);
