@import './colors';
@import './variables';

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: $gray-dark;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.container {
  width: 90vw;
}

.chat {
  background-color: $white;
  box-shadow: 0 2px 2px $green-light;
  display: flex;
  height: 90vh;
  padding: 1vh;
  padding-bottom: 0;

  &-configuration {
    background-color: $white;
    width: 20%;

    &-form {
      padding-right: 1vw;

      &-email {
        border: 1px solid $gray-dark;
        font-size: 12px;
        height: 30px;
        margin: 10px 0;
        padding: 0 10px;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      input {
        margin-bottom: 10px;
        height: 40px;
        padding: 5px;
        width: 100%;
      }

      button {
        background: $white;
        border: 1px solid $gray-light;
        color: $gray-dark;
        cursor: pointer;
        font-size: 13px;
        padding: 5px 10px;
      }
    }
  }

  .messages-container {
    border-left: 1px solid $gray-light;
    width: 80%;

    .list {
      background: $gray-dark;
      height: 84vh;
      overflow-y: auto;
      padding: $default-padding;

      .message {
        align-items: center;
        display: flex;
        margin: 5px;

        // clear fix this element
        &:after {
          clear: both;
          content: ' ';
          display: block;
          height: 0;
          visibility: hidden;
        }

        .avatar {
          background-size: cover;
          border-radius: 20px;
          box-shadow: 0 1px 2px $gray-dark;
          display: block;
          height: 30px;
          margin: 0 5px;
          width: 30px;
        }

        .text {
          border-radius: 0 5px 5px 10px;
          box-shadow: 0 1px 2px $gray-light;
          color: $gray-dark;
          display: inline-block;
          margin: 6px 0 0;
          max-width: 190px;
          padding: 5px 10px;
          white-space: pre-line;
          word-wrap: break-word;
        }

        &-myself {
          justify-content: flex-end;
        }
      }

      .from {
        &-other {
          .message {
            &-text {
              background: $green-light;
            }

            &-avatar {
              background-color: $green-light;
            }
          }
        }

        &-myself {
          .message {
            &-text {
              background: $gray-light;
            }

            &-avatar {
              background-color: $gray-light;
            }
          }
        }
      }
    }

    .chat-form {
      border-top: 2px solid $gray-light;
    }

    .chat-input {
      border: 0;
      font-size: 15px;
      height: 50px;
      padding: 10px;
      resize: none;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }
}
