%sidebar {
  background-color: $gray-dark;
  width: 20%;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .menu {
      color: $gray-middle-light;
      font-style: normal;
      height: 20px;
      transform: rotate(90deg);
      transition: all 500ms;
      width: 0 10px;

      &:hover {
        color: $gray-light;
        transform: rotate(30deg);
      }

      &::after {
        content: '|';
      }

      &::before {
        content: '|';
      }
    }
  }

  &-form {
    padding-right: 1vw;

    &-email {
      border: 1px solid $gray-dark;
      font-size: 12px;
      height: 30px;
      margin: 10px 0;
      padding: 0 10px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    input {
      margin-bottom: 10px;
      height: 40px;
      padding: 5px;
      width: 100%;
    }

    button {
      background: $white;
      border: 1px solid $gray-light;
      color: $gray-dark;
      cursor: pointer;
      font-size: 13px;
      padding: 5px 10px;
    }
  }
}
